/* @media (max-width: 768px) {
    .container {
        padding: 10px; /* Уменьшаем отступы на маленьких экранах */
    }

    header .container {
        flex-direction: column; /* Перестраиваем элементы в колонку */
        align-items: center; /* Выравниваем элементы по центру */
    }

    header nav ul {
        flex-direction: column; /* Перестраиваем пункты меню в колонку */
        text-align: center; /* Выравниваем текст в пунктах меню по центру */
    }

    header nav li {
        margin: 10px 0; /* Увеличиваем отступы между пунктами меню */
    }

    .hero h1 {
        font-size: 28px; /* Уменьшаем размер заголовка */
    }

    .hero p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    /* Добавляем стили для адаптации навигации на мобильных устройствах */
    header .container {
        flex-direction: column; /* Перестраиваем элементы в колонку */
        align-items: center; /* Центрируем элементы */
    }

    header nav ul {
        flex-direction: column; /* Перестраиваем пункты меню в колонку */
        text-align: center; /* Центрируем текст */
    }

    header nav li {
        margin: 10px 0; /* Увеличиваем отступы между пунктами */
    }
} 
*/